<!-- FOOTER  -->

<footer class="ft-dark pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 pb-4">
                <h3 class="text-light bottom-border">Links</h3>
                <ul class="list-unstyled">
                    <li><a href="#" class="ft-link"><i class="lnr lnr-chevron-right"></i> Teacher's and Employee
                            Portal</a></li>
                    <li><a href="#" class="ft-link"><i class="lnr lnr-chevron-right"></i> Students and Parents
                            Portal</a></li>
                    <li><a href="#" class="ft-link"><i class="lnr lnr-chevron-right"></i> WebMail LogIn</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-4 pb-4">
                <h3 class="text-light bottom-border">Follow Us</h3>
                <ul class="social-icon">
                    <li><a href="https://www.facebook.com/assuffah4ummah" target="_blank"><i
                                class="fa fa-facebook text-light"></i></a></li>
                    <li><a href="https://twitter.com/MadrasatunNoor" target="_blank"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="https://www.youtube.com/channel/UCJ_Qg8HzmY922tdNXm2Jt7A" target="_blank"><i
                                class="fa fa-youtube"></i></a></li>
                    <li><a href="https://www.linked.in/madrasatunnoorbd/" target="_blank"><i
                                class="fa fa-linkedin"></i></a></li>
                    <li><a href="" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                </ul>
            </div>
            <div class="col-12 col-lg-4 pb-4">
                <h3 class="text-light bottom-border">Contact Us</h3>
                <ul class="contact list-unstyled">
                    <li class="mb-2"><i class="lnr lnr-envelope"></i>
                        <a href="mailto:assuffah4ummah@gmail.com" class="ft-link pr-2 pl-2"> assuffah4ummah@gmail.com</a></li>
                    <li class="mb-2"><i class="lnr lnr-phone-handset"></i> <a href="tel:01715319259" class="text-light"><span class="pr-2 pl-2">+8801715319259</span></a></li>
                    <li class="mb-2"><i class="lnr lnr-map-marker"></i> <span
                            class="pr-2 pl-2"> 9/2, Sector-2, Uposhohor, Rajshahi.
                            </span></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<div class="f-dark p-3 text-center text-light row">
    <div class="col-lg-6 col-12">Madrasatus Suffah @ {% now 'Y' %} All Rights Reserved</div>
    <div class="col-lg-6 col-12"><span>Developed By : </span><a href="https://www.facebook.com/habiburrahman.sobuj.75/"><span class="text-light">Habibur Rahman
        Sobuj</span> </a> </div>

</div>
