{% extends "base.html" %}
<!-- LOAD STATIC FILES  -->
{% load static %}
<!-- LOAD CRISPY FORM -->
{% load crispy_forms_tags %}
<!-- TITLE BLOCK  -->
{% block title_block %} Contact us {% endblock %}
<!-- CUSTOM CSS BLOCK  -->
{% block style_block %}
<style>

</style>
{% endblock %}
<!-- BODY BLOCK -->
{% block body_block %}

<div class="main-content py-2 bg-light">
    <div class="container-lg mt-3 ">
        
        <center>
            <p>
               
               <b class="font-weight-bold" style="font-size: 25px;">Phone : 01615319259</b>  <br>
               <b class="font-weight-bold" style="font-size: 25px;">Phone : 01715319259 </b> <br> 
               <b class="font-weight-bold" style="font-size: 25px;">WhastApp: 01729874800</b>  <br>
               <b class="font-weight-bold" style="font-size: 25px;">Email : madrashatussuffahalarabia16@gmail.com </b><br>
            </p>
        </center>
        

    </div>
</div>

{% endblock %}
