{% extends "base.html" %}
<!-- LOAD STATIC FILES  -->
{% load static %}
<!-- LOAD CRISPY FORM -->
{% load crispy_forms_tags %}
<!-- TITLE BLOCK  -->
{% block title_block %} Photo Gallery {% endblock %}
<!-- CUSTOM CSS BLOCK  -->
{% block style_block %}
<style>

</style>
{% endblock %}
<!-- BODY BLOCK -->
{% block body_block %}

<div class="main-content py-2 bg-light">
    <div class="container-lg mt-3 ">


        <div class="row pb-3">
            {% for image in gallery %}
            <div class="col-lg-3 col-md-4 col-12  py-4">
                <img src="/media/{{ image.image }}" alt="" class="img-gallery" width="300" height="300">
                <p class="text-dark text-center text-justify font-weight-bold pt-2"
                    style="height: 100%; font-size: 14px; line-height: 100%;">{{ image.caption }}</p>
            </div>

   



            {% endfor %}


        </div>

                    <!--Pagination-->
   <div class="p-4">
    <div class="pagination justify-content-center">
        <span class="step-links">
            {% if gallery.has_previous %}
            <a href="?page=1" class="btn btn-info btn-xs">&laquo; First</a>
            <a href="?page={{ gallery.previous_page_number }}" class="btn btn-info btn-xs">Previous</a>
            {% endif %}



            {% if gallery.has_next %}
            <a href="?page={{ gallery.next_page_number }}" class="btn btn-info btn-xs">Next</a>
            <a href="?page={{ gallery.paginator.num_pages }}" class="btn btn-info btn-xs">Last
                &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
<!--end of Pagination-->





    </div>
</div>

{% endblock %}

{% block script_block %}
<script>
    $( '#myLightbox' ).lightbox( options )

</script>
{% endblock script_block %}
